<html>
  <head>
      <title>Cantanti</title>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.js" type="text/javascript"></script>
      <script>
        $(document).ready(function() {
            $("#cerca img").on("click", function(e) {
              id = e.target.id.replace("img_","");
              $("#button_"+id).prop('checked', true);
              $("#cerca img").removeClass("selected");
              $("#img_"+id).addClass('selected');
            });
        });
      </script>
  </head>

  <body style="background-color:#e4e9fc" >

        <h2 align="center">Seleziona un cantate: </h2>

      <div id= "cerca" class="dropdown" >
        <form action="/dati" method="POST">
          <ul>
            <%for(var i=0; i<nameList.length; i++){%>
              <li data-nome="<%=nameList[i] %>">
              <input type="radio" name="cantante" id="button_<%= nameList[i].replace(" ","_").replace(".","_") %>" class="cantante" value="<%= nameList[i]%>"required/>
              <img id="img_<%= nameList[i].replace(" ","_").replace(".","_")%>" src="<%=imageList[i]%>" />
            </li>
              <%}%>
          </ul>

          <h2>Inserisci la tua città</h2>
               <select name="citta" class="citta" required>
                     <option name="niente"><selected></option>
                     <option value="Aosta">Aosta</option>
                     <option value="Turin">Torino</option>
                     <option value="Milan">Milano</option>
                     <option value="Bologna">Bologna</option>
                     <option value="Ancona">Ancona</option>
                     <option value="Florence">Firenze</option>
                     <option value="Rome">Roma</option>
                     <option value="Naples">Napoli</option>
                     <option value="Bari">Bari</option>
                     <option value="Padua">Padova</option>
                     <option value="Messina">Messina</option>
                     <option value="Pescara">Pescara</option>
                     <option value="Verona">Verona</option>
                     <option value="Rimini">Rimini</option>
                     <option value="Acireale">Acireale</option>
               </select>
          <button id="cerca-button" onclick="invioDati()" class="bottone" >Seleziona </button>

          </form>
      </div>
      <style>
      body {
        text-align: center;
        font-family: sans-serif;
      }
      #cerca {
        text-align: center;
      }
      input[type="radio"] {
        display: none;
      }
      #cerca img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 150px;
        border: 3px solid rgba(0,0,0,0.0);
        vertical-align: middle;
        font-size: 0;
        line-height: 0;
        margin: 0;
        padding: 0;
        opacity: 0.9;
      }
      #cerca img:hover {
        border-color: rgba(0,0,0,0.5);
      }
      #cerca img.selected {
        border: 3px solid #000;
        opacity: 1;
      }
      #cerca ul {
        font-size: 0;
        line-height: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        min-width: 500px;
        margin: 0 auto;
        text-align: center;
      }
      #cerca li {
        position: relative;
        vertical-align: top;
        overflow: hidden;
        display: inline-block;
        font-size: 0;
        line-height: 0;
        margin: 0;
        padding: 0;
        width: 156px;
        height: 156px;
      }
      #cerca li::after {
        content: attr(data-nome);
        position: absolute;
        bottom: 3px;
        left: 3px;
        width: calc(100% - 6px);
        white-space: nowrap;
        font-size: 14px;
        color: #fff;
        background: rgba(0,0,0,0.6);
        line-height: 1.4;
      }
      /* Dropdown Button */
    .citta {
      display: inline-block;
      color: black;
      text-decoration: none;
      padding: .5em 2em;
      outline: none;
      border-width: 2px 0;
      border-style: solid none;
      border-color: #cdd6f9 #000 #cdd6f9;
      border-radius: 6px;
      background: linear-gradient(#cdd6f9, #cdd6f9) #cdd6f9;
      transition: 0.2s;
    }

    /* Dropdown button on hover & focus */
    .citta:hover, .dropbtn:focus {
      background-color: #cdd6f9;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;


    }
    select.citta:hover { background: linear-gradient(#9fb1f4, #9fb1f4) #9fb1f4; }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}
        button.bottone {
          display: inline-block;
          color: black;
          text-decoration: none;
          padding: .5em 2em;
          outline: none;
          border-width: 2px 0;
          border-style: solid none;
          border-color: #cdd6f9 #000 #cdd6f9;
          border-radius: 6px;
          background: linear-gradient(#cdd6f9, #cdd6f9) #cdd6f9;
          transition: 0.2s;
        }
        button.bottone:hover { background: linear-gradient(#9fb1f4, #9fb1f4) #9fb1f4; }

        div {
              text-align: left;
              background: #e4e9fc;
              margin: 0 auto;
        }


  </body>
  </html>
